:root {
  font-family: Roboto, 'Segoe UI', sans-serif;
  color: rgba(18, 27, 41, 0.96);
  background: #f4f6f8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle at top right, #ddeaf7 0%, #f4f6f8 40%);
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
